
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@font-face {
    font-family: Mario;
    src: url("assets/mario font.ttf");
}
@font-face {
    font-family: Sonic;
    src: url("assets/sonic font.TTF");
}
@font-face {
    font-family: SF;
    src: url("assets/ryu font.ttf");
}
@font-face {
    font-family: DK;
    src: url("assets/kong font.ttf");
}

.container div{
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#decimal div, #octal div, #hexadecimal div, #binario div{
    color: white;
    font-size: 80px !important;
}
#decimal{
    background-image: url("assets/mario bg.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: Mario;
}
#decimal input{
    border: none;
    margin: 10px 0 0 0;
    font-family:Mario;
    height: 10%;
    width: 80%;
}
#btn_Convert{
    padding: 2%;
    background-color: goldenrod;
    border: none;
    border-radius: 8%;
}

#octal{
    background-image: url("assets/sonic bg.gif");
    background-size: cover;
    background-position: bottom;
    font-family: Sonic;
}
#hexadecimal{
    background-image: url("assets/ryu bg.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: SF;
}
#binario{
    background-image: url("assets/kong bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: DK;
}
.char{
    height: 100px;
    position: relative;
    cursor: pointer;
}
#mario{
    top: 35px;
}
#sonic{
    bottom: 20px;
}
#ryu{
    height: 500px;
}
#dk{
    bottom: 285px;
    right: 100px;
}