<<<<<<< HEAD
=======
body{
    background-color: rgb(39, 39, 39);
}
>>>>>>> add3493687fa6ea19dfafb61e963df748268629b
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@font-face {
    font-family: Mario;
    src: url("assets/mario font.ttf");
}
@font-face {
    font-family: Sonic;
    src: url("assets/sonic font.TTF");
}
@font-face {
    font-family: SF;
    src: url("assets/ryu font.ttf");
}
@font-face {
    font-family: DK;
    src: url("assets/kong font.ttf");
}

.container div{
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#decimal div, #octal div, #hexadecimal div, #binario div{
    color: white;
    font-size: 80px !important;
}
#decimal{
    background-image: url("assets/mario bg.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: Mario;
<<<<<<< HEAD
    width: 32.5%;
    margin-right: 8px;
    float: left;
    height: 9.8%;
    padding: 8%;
    text-align: center;
    position: relative;
    align-items: baseline;
}
#demo1{
    border-radius: 6%;
    border: none;
}
#btn_Convert{
    padding: 2%;
    background-color: goldenrod;
    border: none;
    font-family: Mario;
    border-radius: 4%;
=======
}
#decimal input{
    border: none;
    margin: 10px 0 0 0;
    font-family:Mario;
    height: 10%;
    width: 80%;
    padding: 5px 10px;
}

#btn_Convert{
    padding: 2%;
    background-color: goldenrod;
    border: solid white;
    border-width: 2.5px 0 0 2.5px;
    outline: solid black 2.5px;
    font-family: Mario;
    color: white;
    text-shadow: 2px 2px black;
    cursor: pointer;
>>>>>>> add3493687fa6ea19dfafb61e963df748268629b
}

#octal{
    background-image: url("assets/sonic bg.gif");
    background-size: cover;
    background-position: bottom;
    font-family: Sonic;
<<<<<<< HEAD
    color: #fff;
    width: 32.5%;
    float: right;
    height: 40%;
    padding: 8%;
    text-align: center;
    position: relative;
    align-items: baseline;
}
#hexadecimal{
    background-color: green;
    width: 32.5%;
    float: left;
    height: 10%;
    padding: 8%;
    margin: 1px;
    text-align: center;
    align-items: end;
}
#binario{
    background-color: green;
    width: 32.5%;
    float: right;
    height: 10%;
    padding: 8%;
    margin: 1px;
    text-align: center;
    align-items: end;
=======
}
#octal h2{
    background:linear-gradient(rgb(92, 92, 24),rgb(231, 231, 6));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
#hexadecimal{
    background-image: url("assets/ryu bg.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: SF;
}
#hexadecimal h2{
    background:linear-gradient(rgb(219, 255, 12),rgb(211, 62, 4));
    text-shadow:2px 2px black;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
#binario{
    background-image: url("assets/kong bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: DK;
    color: white;
>>>>>>> add3493687fa6ea19dfafb61e963df748268629b
}
.char{
    height: 100px;
    position: relative;
    cursor: pointer;
}
#mario{
    top: 35px;
}
#sonic{
    bottom: 20px;
}
#ryu{
    height: 500px;
}
#dk{
    bottom: 285px;
    right: 100px;
}